*{
    margin: 0px;
    padding: 0px;
}

article {
    border: 1px grey solid;
    border-radius: 5px;
    margin: 10px;
    width: 242px;
    overflow: hidden;
}

.imagen{
    border-top-left-radius: px;
    border-top-right-radius: 5px;
}

.lista > p{
    border-bottom: 1px grey solid;
}

h3, p ,a{
    padding: 10px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

